<div class="container mt-200">
  <%= form_tag sessions_path, class: "six columns offset-by-three" do %>
    <div class="input-group">
      <%= text_field_tag :username, nil, placeholder: "Username", autocomplete: "off" %>
    </div>

    <div class="input-group">
      <%= password_field_tag :password, nil, placeholder: "Password", autocomplete: "off" %>
    </div>

    <div class="text-center mt-30">
      <%= submit_tag "Login", class: "btn btn-primary btn-round" %>
    </div>
  <% end %>
</div>
