body {
  background: #f8f8f6;
  text-align: center;
  padding: 50px;
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
  margin-top: 100px;
}

.art {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.art img {
  width: 100%;
}

.return {
  font-size: 0.9em;
}

a {
  color: #1EAEDB;
}

a:hover {
  color: #0FA0CE;
}
