<% if @posts.empty? %>
  <div class="text-center">
    Nothing here
  </div>
<% else %>
  <% @posts.each do |p| %>
    <div class="mt-10 flex-row">
      <div>
        <strong><%= link_to p.decrypted_title, shared_post_path(p), class: "dark" %></strong>
        <br/>
        <%= p.created_at.strftime("%m/%d/%Y") %>
        <br/>
      </div>

      <div>
        <%= render "tags_list", post: p %>
      </div>
    </div>
  <% end %>

  <%= pager(@posts, [:search]) %>
<% end %>
