<div>
  <h4><%= @post.decrypted_title %></h4>

  <h6><%= @post.created_at.strftime("%m/%d/%Y") %></h6>

  <p class="text-whitespace"><%= @post.decrypted_content %></p>

  <div><%= render "tags_list", post: @post %></div>
</div>
