#alert {
  margin-top: 20px;
  position: absolute;
  z-index: 999;
  width: 100%;
  opacity: 0;

  .alert {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }

  .alert-error {
    color: #721c24;
    background: #f8d7da;
    border-bottom: 3px solid #f5c6cb;
  }

  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-bottom: 3px solid #c3e6cb;
  }
}

.banner {
  padding: 10px;
  text-align: center;
  border-radius: 5px;

  &.banner-warning {
    color: #735b0e;
    background: #f2ead0;
    border-bottom: 3px solid #e8d492;
  }
}
