.btn {
  display: inline-block;
  height: 38px;
  font-size: 1em;
  padding: 0 30px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  box-sizing: border-box;
  outline: 0;
  color: #333;
  background-color: #eee;

  &:hover {
    background-color: #a7a7a7;
  }
}

.btn.btn-round {
  border-radius: 20px;
}

.btn.btn-muted {
  background: none;
  border: 2px solid #6b6b6b;
  color: #6b6b6b;

  &:hover {
    border-color: #909090;
    color: #909090;
  }
}

.btn.btn-primary {
  color: #202020;
  background-color: #f3aa50;

  &:hover {
    background-color: #c58739;
  }
}

.btn.btn-danger {
  color: #ECF3E6;
  background-color: #773232;

  &:hover {
    background-color: #612828;
  }
}

.link-tile {
  border: 2px solid #444444;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  &:hover {
    border-color: #7b7b7b;
  }
}
