.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ol {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      display: inline-block;
      margin: 0;

      a, i {
        color: #6b6b6b;
        text-decoration: none;
        padding: 4px;
      }
    }

    li.active a {
      background: #313131;
      text-decoration: none;
    }
  }

  .pagination-num-items {
    font-size: 13px;
    color: #6b6b6b;
  }
}

@media (max-width: 750px) {
  .paginator {
    justify-content: center;

    .pagination-num-items {
      display: none;
    }
  }
}
