.public {
  .footer {
    position: fixed;
    bottom: 5px;
    border-top: 1px solid #444;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    background: #202020;
    opacity: 0.6;
  }
}
