/* Text */

.text-center {
  text-align: center;
}

.text-whitespace {
  white-space: pre-wrap;
}

.text-muted {
  color: #929292;
}

a.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

a.dark {
  color: #555;
  text-decoration: none;
  &:hover {
    color: #888;
    text-decoration: underline;
  }
}

.fw-100 {
  font-weight: 400;
}

.fs-13 {
  font-size: 13px;
}


/* Spacing */

.pt-100 {
  padding-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-15 {
  margin-top: 15px;
}

.ml-10 {
  margin-left: 15px;
}

.ml-5 {
  margin-left: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

/* Size */

.h-300 {
  min-height: 300px;
}

.w-100-per {
  width: 100%;
}
