/* Alignment */

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 750px) {
  .flex-row-collapse {
    display: block;
    text-align: center;
  }
}

.display-inline-b {
  display: inline-block;
}


/* Text */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-whitespace {
  white-space: pre-wrap;
}

a.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

a.dark {
  color: #555;
  text-decoration: none;
  &:hover {
    color: #888;
    text-decoration: underline;
  }
}


/* Spacing */

.pt-100 {
  padding-top: 100px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.ml-5 {
  margin-left: 5px;
}


/* Size */

.h-300 {
  min-height: 300px;
}
