/* Alignment */

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Text */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-whitespace {
  white-space: pre-wrap;
}

a.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}


/* Spacing */

.pt-100 {
  padding-top: 100px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-10 {
  margin-top: 10px;
}


/* Size */

.h-300 {
  min-height: 300px;
}
