/* Alignment */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


/* Spacing */

.pt-100 {
  padding-top: 100px;
}


/* Size */

.h-300 {
  min-height: 300px;
}
