<% if flash.any? %>
  <div id="alert">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <div><%= value %></div>
      </div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#alert').slideDown('slow').delay(1500).slideUp('slow');
  });
</script>
