<% if logged_in %>
  <div class="nav">
    <div class="container">
      <div class="nav-items">
        <div class="art">
          <%= link_to root_path do %>
            <%= image_tag "nav_art.png" %>
          <% end %>
        </div>

        <div>
          <%= link_to "Public Posts", shared_posts_path, class: "dark" %>
          <%= link_to "Logout", sessions_path, method: :delete, class: "dark ml-10" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
