<% if logged_in %>
<div class="nav">
  <div class="container">
    <div class="nav-items">
      <div>
        <%= link_to "Journal", root_path %>
      </div>

      <div>
        <%= link_to "Logout", sessions_path, method: :delete %>
      </div>
    </div>
  </div>
</div>
<% end %>
